<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final Project Templete</title>

    <link rel="stylesheet" href="css/blueberry.css" type="text/css">
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <style>
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="js/jquery.blueberry.js"></script>
    
    <script>
    $(window).load(function() {
      $('.blueberry').blueberry();
    });
    </script>

  </head>
  <body>
    <div id="wrapper">
      <div class="position">
        <div class="logo">
           <a href="index.html"><img src="images/logo.jpg" alt="Logo" /></a>
        </div>
        
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="recipe.html">Recipe</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">contact</a></li>
          </ul>
        </nav>
      </div>
      <!-- end position-->
      <div class="box-1">
        <table class="tb-1">
          <tr>
            <td><img src="images/breakfast.jpg" alt="breakfast" /></td>
            <td><img src="images/lunch.jpg" alt="lunch" /></td>
            <td><img src="images/low-calories.jpg" alt="low-calories" /></td>
            <td><img src="images/dessert.jpg" alt="cookes and desserts"/></td>
          </tr>
          <tr class="des-1">
            <td>Breakfast</td>
            <td>Vegeterian</td>
            <td>Low-Calories</td>
            <td>Cookies & Dessert</td>
          </tr>
        </table>
      </div>
      <!--end box-1-->
      <div class="container">
        <main>
          <h1>Ethiopian Cusine History</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at
            lacinia justo. Suspendisse rhoncus urna at dolor pulvinar venenatis.
            Duis molestie varius tellus non pharetra. Maecenas fermentum
            interdum odio eget vulputate. Vestibulum eget eros sed ex mollis
            aliquet at in justo. Quisque vulputate metus dui, auctor luctus
            tortor accumsan id. Suspendisse eu sapien suscipit, semper tortor
            at, blandit mi. Phasellus lobortis enim mattis placerat cursus.
            Praesent varius leo leo. Proin viverra felis non interdum cursus.
            Proin risus urna, luctus at turpis vitae, placerat feugiat felis.
            Phasellus malesuada ex eu arcu consequat accumsan. Vestibulum ante
            ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            curae; Mauris iaculis mi tellus, ut tincidunt mauris cursus
            tristique. Maecenas ornare efficitur viverra.
          </p>
        </main>

        <aside>
          <!-- <div id="banner">
          <img src="images/ethiopian-cusine.jpeg" alt="Ethiopian cusine" />
        </div> -->
        <!-- blueberry -->

    <div class="blueberry">
      <ul class="slides">
        <li><img src="images/kitefo-2.jpg" alt="vegge" /></li>
        <li><img src="images/shekla-tibs-1.jpg" alt="vegge" /></li>
      </ul>
    </div>

<!-- blueberry -->

        </aside>
      </div>
      <!-- end container-->

      <div class="box-2">
        <table class="tb-2">
          <tr>
            <td><img src="images/breakfast.jpg" alt="breakfast" /></td>
            <td><img src="images/lunch.jpg" alt="lunch" /></td>
            <td><img src="images/low-calories.jpg" alt="low-calories" /></td>
            <td>
              <img
                src="images/dessert.jpg"
                alt="cookes and desserts"
              />
            </td>
          </tr>
          <tr class="des-2">
            <td>&#9733;&#9733;&#9733 scrabled egg</td>
            <td>&#9733;&#9733 vegge combo</td>
            <td>&#9733;&#9733 lentil soup</td>
            <td>&#9733Cookies</td>
          </tr>
          <tr>
            <td><img src="images/breakfast.jpg" alt="breakfast" /></td>
            <td><img src="images/lunch.jpg" alt="lunch" /></td>
            <td><img src="images/low-calories.jpg" alt="low-calories" /></td>
            <td>
              <img
                src="images/dessert.jpg"
                alt="cookes and desserts"
              />
            </td>
          </tr>
          <tr class="des-2">
            <td>Breakfast</td>
            <td>Vegeterian</td>
            <td>Low-Calories</td>
            <td>Cookies & Dessert</td>
          </tr>
        </table>
      </div>
      <!-- end box-2-->
      <div class="ft">
        <footer>
          <ul>
            <li>Copyright &copy; 2020</li>
            <li>All Right Reserved</li>
            <li><a href="http://compass.northseattle.edu/~sabera/it111/index.html"> Web Design by Seble</a></li>
            <li><a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fcompass.northseattle.edu%2F%7Esabera%2Fit111%2Ftamplate%2Frecipe.html"> Valide!</a></li>
          </ul>
        </footer>
      </div>
      <!--end ft-->
    </div>
    <!-- end wrapper-->
  </body>
</html>
