/* style for my  website */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

#wrapper {
  width: 940px;
  margin: 0 auto;
}

header {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

main {
  width: 580px;
  background: rgb(125, 125, 167);
  float: left;
}

aside {
  width: 340px;
  float: right;
}

footer {
  height: 40px;
  clear: both;
}

footer ul {
  list-style-type: none;
}

footer li {
  line-height: 40px;
  float: left;
  margin-left: 20px;
}

/* style for my form */

form {
  max-width: 580px;
}

fieldset {
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 80%;
  height: 20px;
  margin-bottom: 10px;
}

input[type="radio"] {
  width: auto;
  height: auto;
  margin-right: 5px;
}

input[type="submit"] {
  width: auto;
}

textarea {
  width: 50%;
  height: 60px;
  margin-bottom: 10px;
}
