/* style for my  website */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 217, 184);
}

header {
  text-align: center;
  margin: 20px auto;
}

#wrapper {
  width: 940px;
  margin: 20px auto;
}

header {
  margin-bottom: 5px;
}

img {
  max-width: 100%;
}

.main {
  width: 580px;
  height: 100%;
  float: left;
  margin-bottom: 100px;
}

aside {
  width: 340px;
  float: right;
  background-color: rgb(176, 192, 179);
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
}

h1 {
  margin-bottom: 5px;
  color: rgb(71, 66, 66);
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-top: 15px;
  line-height: 1.5em;
  font-family: Tahoma;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(247, 234, 162);
  text-align: center;
  border: 2px dotted silver;
  border-radius: 20px;
}
footer ul {
  list-style-type: none;
}

footer li {
  line-height: 40px;
  float: left;
  margin-left: 20px;
  font-size: larger;
}

footer a {
  text-decoration: none;
  color: black;
  font: larger;
}

a:hover {
  background-color: lightslategray;
}

/* style for my form */
.form {
  margin: 20px;
  height: 678px;
}

fieldset {
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(243, 196, 109);
}

legend {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  color: rgb(82, 76, 76);
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: Verdana;
}

input {
  width: 80%;
  height: 30px;
  margin-bottom: 10px;
}

input[type="radio"] {
  width: auto;
  height: auto;
  margin-right: 5px;
}

li {
  list-style-type: none;
}
.chkbox {
  width: auto;
  height: auto;
  /* display: inline-block;
  flex-direction: row; */
}

input[type="date"] {
  width: auto;
}

.box-1 {
  height: 150px;
  width: 80%;
  margin-bottom: 10px;
}
.row {
  text-align: left;
  
}
.btn {
  padding: 5px;
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
}
.thx {
  text-align: center;
}
